@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    user-select: none;
}

.drag-area {
    -webkit-app-region: drag;
}

.left-arrow::before {
    content: '>';
    left: -12px;
    top: 0;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
}


.file-item {

}

.checkFile {
    opacity: 0;
}

.checkFile:checked {
    opacity: 1;
}

/*.file-item:hover .checkFile {*/
/*    opacity: 1;*/
/*}*/
